*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title
{
    margin-top: 1rem;
}

.title:hover{
    background-color: antiquewhite;
}

.cat
{
    width: 200px;
}

.test
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.projects
{
    border-collapse: collapse;
    table-layout: fixed;
}

.rows>td
{
    background: rgb(248, 177, 177);
    border: 1px solid;
    border-color: black;
    width: calc(100%/3);
    padding:20px;
}
.header
{
    background: antiquewhite;
    border-collapse: collapse;
    border: 1px solid;
    border-color: black;
}
